// Core SEO/GEO control panel styles

.core-seo-geo-properties-table {
	overflow-x: auto;

	th.core-seo-geo-field-heading {
		white-space: nowrap;

		.info {
			font-size: 0.8em;
			display: inline-flex;
			vertical-align: middle;
		}
	}
}
